body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type=range].speed-control {
  -webkit-appearance: none;
  width: 100%;
  margin: 2.1px 0;
}
input[type=range].speed-control:focus {
  outline: none;
}
input[type=range].speed-control::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #007000;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].speed-control::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.3px;
}
input[type=range].speed-control:focus::-webkit-slider-runnable-track {
  background: #008a00;
}
input[type=range].speed-control::-moz-range-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #007000;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].speed-control::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].speed-control::-ms-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].speed-control::-ms-fill-lower {
  background: #005700;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].speed-control::-ms-fill-upper {
  background: #007000;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].speed-control::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 31.8px;
}
input[type=range].speed-control:focus::-ms-fill-lower {
  background: #007000;
}
input[type=range].speed-control:focus::-ms-fill-upper {
  background: #008a00;
}

input[type=range].speed-control {
  -webkit-appearance: none;
  width: 100%;
  margin: 2.1px 0;
}
input[type=range].speed-control:focus {
  outline: none;
}
input[type=range].speed-control::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #007000;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].speed-control::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.3px;
}
input[type=range].speed-control:focus::-webkit-slider-runnable-track {
  background: #008a00;
}
input[type=range].speed-control::-moz-range-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #007000;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].speed-control::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].speed-control::-ms-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].speed-control::-ms-fill-lower {
  background: #005700;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].speed-control::-ms-fill-upper {
  background: #007000;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].speed-control::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 31.8px;
}
input[type=range].speed-control:focus::-ms-fill-lower {
  background: #007000;
}
input[type=range].speed-control:focus::-ms-fill-upper {
  background: #008a00;
}

input[type=range].speed-control {
  -webkit-appearance: none;
  width: 100%;
  margin: 2.1px 0;
}
input[type=range].speed-control:focus {
  outline: none;
}
input[type=range].speed-control::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #007000;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].speed-control::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.3px;
}
input[type=range].speed-control:focus::-webkit-slider-runnable-track {
  background: #008a00;
}
input[type=range].speed-control::-moz-range-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #007000;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].speed-control::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].speed-control::-ms-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].speed-control::-ms-fill-lower {
  background: #005700;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].speed-control::-ms-fill-upper {
  background: #007000;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].speed-control::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 31.8px;
}
input[type=range].speed-control:focus::-ms-fill-lower {
  background: #007000;
}
input[type=range].speed-control:focus::-ms-fill-upper {
  background: #008a00;
}




input[type=range].steering-control {
  -webkit-appearance: none;
  width: 100%;
  margin: 2.1px 0;
  transform: rotate(270deg);
}
input[type=range].steering-control:focus {
  outline: none;
}
input[type=range].steering-control::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #ffff80;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].steering-control::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.3px;
}
input[type=range].steering-control:focus::-webkit-slider-runnable-track {
  background: #ffff9a;
}
input[type=range].steering-control::-moz-range-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #ffff80;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].steering-control::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].steering-control::-ms-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].steering-control::-ms-fill-lower {
  background: #ffff66;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].steering-control::-ms-fill-upper {
  background: #ffff80;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].steering-control::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 31.8px;
}
input[type=range].steering-control:focus::-ms-fill-lower {
  background: #ffff80;
}
input[type=range].steering-control:focus::-ms-fill-upper {
  background: #ffff9a;
}

input[type=range].steering-control {
  -webkit-appearance: none;
  width: 100%;
  margin: 2.1px 0;
}
input[type=range].steering-control:focus {
  outline: none;
}
input[type=range].steering-control::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #ffff80;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].steering-control::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.3px;
}
input[type=range].steering-control:focus::-webkit-slider-runnable-track {
  background: #ffff9a;
}
input[type=range].steering-control::-moz-range-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #ffff80;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].steering-control::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].steering-control::-ms-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].steering-control::-ms-fill-lower {
  background: #ffff66;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].steering-control::-ms-fill-upper {
  background: #ffff80;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].steering-control::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 31.8px;
}
input[type=range].steering-control:focus::-ms-fill-lower {
  background: #ffff80;
}
input[type=range].steering-control:focus::-ms-fill-upper {
  background: #ffff9a;
}

input[type=range].steering-control {
  -webkit-appearance: none;
  width: 100%;
  margin: 2.1px 0;
}
input[type=range].steering-control:focus {
  outline: none;
}
input[type=range].steering-control::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #ffff80;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].steering-control::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.3px;
}
input[type=range].steering-control:focus::-webkit-slider-runnable-track {
  background: #ffff9a;
}
input[type=range].steering-control::-moz-range-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #ffff80;
  border-radius: 6px;
  border: 0.2px solid #010101;
}
input[type=range].steering-control::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].steering-control::-ms-track {
  width: 100%;
  height: 31.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].steering-control::-ms-fill-lower {
  background: #ffff66;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].steering-control::-ms-fill-upper {
  background: #ffff80;
  border: 0.2px solid #010101;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range].steering-control::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 31.8px;
}
input[type=range].steering-control:focus::-ms-fill-lower {
  background: #ffff80;
}
input[type=range].steering-control:focus::-ms-fill-upper {
  background: #ffff9a;
}

router-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

slider.col-xs-3 {
  height:100%;
  padding-left:0;
  padding-right:0;
}

.div4
{
  height:25%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.div2
{
  height:50%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.div1
{
  height:100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.au-animate
{
  height: 100%;

}
